@model Texter.ViewModels.InboxViewModel

<h2>All Messages</h2>
<hr />
<ul>
    @if (Model != null)
    {
        <h3>Incoming Messages:</h3>
        @foreach (var message in Model.incomingMessages)
        {
            <li>
                <ul>
                    <li>To: @Html.DisplayFor(modelItem => message.To)</li>
                    <li>From: @Html.DisplayFor(modelItem => message.From)</li>
                    <li>Body: @Html.DisplayFor(modelItem => message.Body)</li>
                    <li>Status: @Html.DisplayFor(modelItem => message.Status)</li>
                </ul>
            </li>
        }
        <h3>Sent Messages:</h3>
        @foreach (var message in Model.sentMessages)
        {
            <li>
                <ul>
                    <li>To: @Html.DisplayFor(modelItem => message.To)</li>
                    <li>From: @Html.DisplayFor(modelItem => message.From)</li>
                    <li>Body: @Html.DisplayFor(modelItem => message.Body)</li>
                    <li>Status: @Html.DisplayFor(modelItem => message.Status)</li>
                </ul>
            </li>
        }
    }
    else
    {
        <li>No messages!</li>

    }
</ul>

@Html.ActionLink("Back home", "Index")
@Html.ActionLink("Add new contact", "Create", "Contacts")